@use '../shared/scss' as s;

// width: 70%; magrin-left: 15%;  wyśrodkowanie 

$animate: all 0.5s ease-in-out;

.flex-container{
    // border: solid blueviolet; 
    //max-width: 1600px;
    padding: 0 20px;
    //margin:0  auto; // wyśrodkowanie
    display: flex;
    justify-content: space-between;
}

.logo{
    // border: solid blueviolet; 
    text-align: center;
    margin: 1em;
    text-decoration: none;
    cursor: pointer;

    h1{
        color: s.$textColorLight;
        margin: 0px;
        font-weight: 300;
    }
    p.subtitle{
        color:rgb(0, 225, 255);
        font-weight: 300;
        letter-spacing: 3px;
        margin: 0px;
    }
}

nav ul{
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content:center; 
    list-style:none;
    margin: 1.5rem;  
}

nav a{
    // border: solid yellow; 
    margin-left: 1rem ;
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: s.$textColorLight;
    font-size: 150%;
    font-weight: 300;
    letter-spacing: 0.3rem;
    padding: 0.1rem 0;
    padding-left: 0.3rem;
    border-radius: 5px;
    position: relative;
    text-transform: uppercase;

    
    &:after {
      content: "";
      position: absolute;
      left: 0.3rem;
      bottom: -5px;
      width: 0px;
      height: 3px;
      margin: 5px 0 0;
      transition: $animate;
      opacity: 0;
      background-color: rgb(20, 203, 228);
  }

  &:hover {
      &:after {
        width: calc(100% - 0.6rem);
        opacity: 1;
      }
    }

    &.router-link-active{
        &:after {
          width: calc(100% - 0.6rem);
          opacity: 1;
        }
    }
}

@media(min-width:901px){
    .flex-container{
        display: flex;
        justify-content: space-between;
    }
  }


@media (max-width: 900px){
    .flex-container{
        padding: 0 5px;
    }

    nav a{
        margin-left: 0.5rem ;
    }

    
}

@media (max-width: 600px){
    .flex-container{
        // border: solid white;
        justify-content: center;
    }
    .logo {
        display: none;
    }
    .contact{
        display: none;
    }
    
}

