<div class="header">
    <div class="flex-container" >
        <a class="homeTitle" routerLink="/home">
            <h1>Handmade Shop</h1>
            <p class="subtitle">Nice things made by hands</p>
        </a>
        <nav class="nav-list">
            <ul>
                <li><a routerLink="/home" routerLinkActive="router-link-active">Home</a></li>
                <li><a routerLink="/items" routerLinkActive="router-link-active">Items</a></li>
                <li><a routerLink="#" routerLinkActive="router-link-active">Contact</a></li>
                <li><a routerLink="/basket" routerLinkActive="router-link-active">Cart</a></li>
            </ul>
        </nav>
    </div>  <!-- / .container -->
</div>

                    <!-- <i class="glyphicon glyphicon-shopping-cart" style="font-size: 15px;"></i> -->