
.header{
    /* border: dashed; */
    background-color:#454545;
    padding: 0;
    margin: 10px;
    
}

.flex-container{
    /* border: solid  green; */
    width: 95%;
    max-width: 1600px;
    padding: 0;
    margin:0  auto;
    display: flex;
    justify-content: space-between;
}


.homeTitle{
    /* border: solid blueviolet; */
    text-align: center;
    margin: 1em;
    text-decoration: none;
    cursor: pointer;
}

h1{
    color:#d5c7bc;
    margin: 0px;
}
p.subtitle{
    color:#af8091;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0px;
}

nav ul{
    /* border: solid red; */
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content:center; 
    list-style:none;
    margin: 1.5em;
    
    
}

nav li {
    /* border: solid rgb(250, 106, 207); */
    margin-left: 1em ;
    text-align: center;
}

nav a{
    /* border: solid yellow; */
    text-decoration: none;
    color: #f1fffa;
    font-size: 3rem;
    font-weight: bold;
    padding: 0.25em 0.25em;
    border-radius: 5px;
}

nav a:hover {
    background-color: #93B7BE;
    color: #454545;
  }

.router-link-active{
    background-color: #93B7BE;
   
}

@media (max-width: 800px){
    nav ul{
        display: flex;
        flex-direction: column;
    }
    nav li {
        margin: 0;
        text-align: center;
    }
    
}

@media (max-width: 1000px){
    .flex-container{
        display: flex;
        flex-direction: column;
    }
}


