.flex-container{
    /* border: solid crimson; */
    display: flex;
    min-height: 80vh;
}

#itemList{
    /* border: solid rgb(43, 220, 20); */
    margin-right: 30px;
    padding: 1em;
    width: 250px;
    flex-shrink: 0;
}

#details {
    /* border: solid rgb(43, 220, 20); */
    flex-grow: 1;
}
