<div class="container">
    <form *ngIf="!isLoggedIn && !isAdmin" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
        <div formGroupName="userData" class="userData">
            <label for="username">Enter username:</label>
            <p *ngIf="!loginForm.get('userData.username').valid && loginForm.get('userData.username').touched">Please enter username</p>
            <input formControlName="username" id="username">
            <label for="password">Enter password:</label>
            <p *ngIf="!loginForm.get('userData.password').valid && loginForm.get('userData.password').touched">Please enter password</p>
            <input formControlName="password" id="password" type="password">
        </div>
        <div class="role">
            
            <label for="customer" class="radio-label">customer
                <input type="radio" id="customer" formControlName="role" value="customer">
                <span class="checkmark"></span>
            </label>
            <label for="admin" class="radio-label">admin
                <input type="radio" id="admin" formControlName="role" value="admin">
                <span class="checkmark"></span>
            </label>
        </div>
        <button type="submit" [disabled]="isLoginBtnDisabled">Login</button>
    </form>

    <div *ngIf="isLoggedIn || isAdmin">
        <button  (click)="onLogout()">Logout</button>
        <h3>Welcome {{username}} ;) </h3>
        <p>You are logged in as {{isLoggedIn? 'Customer': 'Admin'}}</p>
    </div>
</div>



<!-- <div class="color-palette">
    <p id="color1">Color palette</p>
    <p id="color2">Color palette</p>
    <p id="color3">Color palette</p>
    <p id="color4">Color palette</p>
    <p id="color5">Color palette</p>
    <p id="color6">Color palette</p>
</div> -->