<div class="flex-container">
    <div  *ngIf="!isLoggedIn && !isAdmin">
        <a  (click)="onLogin('customer')">Login as Customer</a>
        <a  (click)="onLogin('admin')">Login as Admin</a>
    </div>

    <div *ngIf="isLoggedIn || isAdmin">
        <a  (click)="onLogout()">Logout</a>
        <h3>You are logged in as {{isLoggedIn? 'Customer': 'Admin'}}</h3>
    </div>
</div>

<!-- <div class="color-palette">
    <p id="color1">Color palette</p>
    <p id="color2">Color palette</p>
    <p id="color3">Color palette</p>
    <p id="color4">Color palette</p>
    <p id="color5">Color palette</p>
    <p id="color6">Color palette</p>
</div> -->