.container {
    // border: solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: blink 8s infinite;
    height: 80vh;
    clip-path: polygon(100% 0, 100% 51%, 0 100%, 0 65%, 60% 0);
    width: auto;
}

.userData input{
  display: block;
  margin: 0px 0px 15px 0px;
}

.userData p{
  color: rgb(139, 23, 23);
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}

input.ng-valid.ng-touched{
  border: 1px solid #5c8f99;
}

.userData label{
  font-size: 1.2em;
  
}

.radio-label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 400;
  color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark{
  position: absolute;
  margin: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  
}

/* On mouse-over, add a grey background color */
.radio-label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a chosen background */
.radio-label input:checked ~ .checkmark{
  background-color: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-label .checkmark:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #785964;
}

/* @keyframes    @-webkit-keyframes*/
@keyframes blink {
    0% {
        background: #45454595;
    }
    30% {
        background: #93B7BE95;
    }
    70% {
        background: #78596495;
    }
    100% {
        background: #45454595;
    }
}

button {
    background-color:#5c8f99;
    text-decoration: none;
    color: #f1fffa;
    font-size: 1.5em;
    font-weight: 400;
    padding: 0.25em 0.25em;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;

    &:hover {
      background-color: #93B7BE9f;
      color: #454545;
      box-shadow:0 0 10px 1px grey;
    }

    &:disabled {
      background-color:rgba(128, 128, 128, 0.329);
      text-decoration: none;
      color: #f1fffa;
      font-size: 1.5em;
      font-weight: 400;
      padding: 0.25em 0.25em;
      border-radius: 5px;
      margin: 10px;

    }
}


.color-palette{
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  height: 100px;
}

#color1{
  background-color: #454545;
}

#color2{
  background-color: #93B7BE;
  /* 466A72 */
}

#color3{
  background-color: #f1fffa;
  /* ADFFE2 */
}

#color4{
  background-color: #d5c7bc;
}

#color5{
  background-color: #785964;
}

#color6{
  background-color: #454545;
}

@media (max-width: 900px){
  button {
      font-size: 1.5em;
      border-radius: 5px;
      margin: 5px;
  }
}

@media (max-width: 600px){
  .container {
      clip-path: polygon(50% 0, 100% 0, 100% 55%, 0 100%, 0 40%);

  }
  button {
      font-size: 1.2em;
      border-radius: 5px;
      margin: 2px;
  }
}