
$textColorLight: rgb(225, 225, 225);
$textColorMedium: rgb(100, 100, 100);
$textColorDark: rgb(37, 37, 37);
$mainColor: #00e1ff;

// https://www.0to255.com/00e1ff
$mainColorLight: #66edff;
$mainColorDark: #005a66;