div.cont {
    // border: solid blue; 
    display: flex;
    width: 95vw;
    margin-top: 20px;
    
}

div.form-detais{
    // border: solid black; 
    display: flex;
    // flex-direction: column;
    justify-content:center;
    
}

div.form-more-info{
    /* border: solid black; */
    align-self: center;

}


legend {
    color: #785964;
}

.btn{
    margin-right: 0.5em;
    background-color: #93B7BE;
    color: #454545;
}

mat-form-field {
    font-size: 1em;
    margin-bottom: 1.5em;
    width: 200px;
    display: block;
}

mat-label{
    color: #785964;
    font-size: 2rem;
    font-weight: 400;
}

mat-hint a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #93B7BE;
}

mat-hint i {
    font-size: 1.5rem;
}

@media (max-width: 600px){
    div.cont {
        flex-direction: column;
        
    }
    mat-form-field {
        // border: solid red;
        font-size: 1em;
        margin-bottom: 1.5em;
        width: 300px;
        display: block;
    }
    
    mat-label{
        color: #785964;
        font-size: 2rem;
        font-weight: 400;
    }
    
    mat-hint a {
        text-decoration: none;
        cursor: pointer;
        font-size: 1.5rem;
        color: #93B7BE;
    }
    
    mat-hint i {
        font-size: 1.5rem;
    }
}