div.container {
    /* background-color: #d5c7bc; */
    
}

div.col {
    /* border: solid pink; */
}

div.row {
    /* border: solid red; */
}

#itemSummary {
    background-color: black;
    color: blueviolet;
}

h2 {
    color: #785964;
}

.btn{
    margin-right: 0.5em;
    background-color: #93B7BE;
    color: #454545;
}


input{
    max-width: 300px;
}

mat-form-field {
    font-size: 1em;
    margin-bottom: 1.5em;
}

mat-label{
    color: #785964;
    font-size: 2rem;
    font-weight: 400;
}

mat-hint a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #93B7BE;
}

mat-hint i {
    font-size: 1.5rem;
}