$buttonColor : #93B7BE;
$buttonTextColor : #454545;
@mixin buttonBorder($thickness) {
    border-left: $thickness solid  grey;
    border-top:$thickness  solid  grey;
    border-right: $thickness solid  black;
    border-bottom: $thickness solid  black;
}

.flex-container{
    /* border: solid  green; */
    width: 100%;
    max-width: 1600px;
    padding: 0;
    margin:0  auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;

    .btn{
        margin-right: 0.5em;
        background-color: $buttonColor;
        color: $buttonTextColor;
        padding: 0.3em;
        @include buttonBorder(2px);
    
        &:hover{
            background-color: #759399;
        }
    }

    .form-group{
        // border: solid red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        }

    form {
        // border: solid blue;
        width: 50%;
        padding: 0;
        display: flex;
        flex-direction: column;
        margin: 5px;
        margin-bottom: 20px;
        background-color: #b3a69d;
        border-radius: 20px;
        padding: 10px;



        input{
            background-color: #f1fffa;
            // width: 100%;
        }
    }

        .toolt {
            position: relative;
            display: inline-block;
            
            .tooltiptext {
                visibility: hidden;
                width: 120px;
                background-color: rgba(0, 0, 0, 0.747);
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                /* Position the tooltip */
                position: absolute;
                z-index: 1;
            }
        
            &:hover .tooltiptext {
                visibility: visible;
            }
        }
    

    ul {
        list-style: none;
        width: 50%;
        padding: 0;
    
        li{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 20px;
            background-color: #b3a69d;
            border-radius: 20px;
            padding: 10px;
        
            p.itemName{
                font-weight: 500;
            }
    
            p.details{
                /* [ngClass] film 40  */
            }
        }
    }
}

@media (max-width: 600px){
    .flex-container{
        // border: solid  green; 
        width: 100%;
        max-width: 1600px;
        padding: 0;
        margin:0  auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;

        .form-group{
            // border: solid red;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
    
            }

        form {
            // border: solid blue;
            width: 90%;
            padding: 0;
            display: flex;
            flex-direction: column;
            margin: 5px;
            margin-bottom: 20px;
            background-color: #b3a69d;
            border-radius: 20px;
            padding: 10px;
    


            input{
                background-color: #f1fffa;
                // width: 100%;
            }
        }
    
        ul {
            // border: solid blue;
            width: 90%;
            padding: 0;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            border-radius: 20px;
        }
    }
}
