

<div class="flex-container">
    <form [formGroup]="newItemAdminForm" (ngSubmit)="onCreateItem()">
        <div class="form-group">
            <label for="name">Name</label>
            <span *ngIf="!newItemAdminForm.get('name').valid && newItemAdminForm.get('name').touched">Please enter valid value</span>
            <input type="text" class="form-control" formControlName="name" id="name" maxlength="15">
        </div>

        <div class="form-group"  formArrayName="typeList">
            <label class="toolt" >Types:
                <span class="tooltiptext">Add available types</span>
            </label>
            <button class="btn" type="button" (click)="onAddItemCtrl('typeList')">Add</button>
            <div 
            class="form-group" 
            *ngFor="let typeControl of typeControls; index as j">
            <span *ngIf="!typeControl.valid && typeControl.touched">Please enter valid value</span>
                <input type="text" class="form-control" [formControlName]="j" >
            </div>
        </div>

        <div class="form-group" formArrayName="sizeList">
            <label class="toolt" >Sizes:
                <span class="tooltiptext">Add available sizes</span>
            </label>
            <button class="btn" type="button" (click)="onAddItemCtrl('sizeList')">Add</button>
            <div 
            class="form-group" 
            *ngFor="let sizeControl of sizeControls; index as k">
                <input class="form-control" [formControlName]="k" >
            </div>
        </div>

        <div class="form-group" formArrayName="colorList">
            <label class="toolt" >Colors:
                <span class="tooltiptext">Add available colors</span>
            </label>
            <button class="btn" type="button" (click)="onAddItemCtrl('colorList')">Add</button>
            <div 
            class="form-group" 
            *ngFor="let colorControl of colorControls; let l = index">
                <input class="form-control" [formControlName]="l" >
            </div>
        </div>
        <button class="btn" type="submit">Submit</button>
    </form>

    <ul>
        <button class="btn" (click)="onSaveItems()">Save Items</button>
        <li *ngFor="let item of items, let i = index">
            <div>
                <p class="itemName">{{item.name | uppercase }}</p>
                <p class="details">Types: {{item.typeList}}</p>
                <p class="details">Sizes: {{item.sizeList}}</p>
                <p class="details">Colors: {{item.colorList}}</p>
            </div>
            <button class="btn" (click)="onDeleteItem(i)" >Delete</button>
        </li>
            
    </ul>
</div>