
<button class="btn" (click)="onSaveItems()">Save Items</button>
<button class="btn" (click)="onAddNewItemSwitch()">Add Item</button>

<div class="f-container">

    <form [formGroup]="newItemAdminForm" (ngSubmit)="onCreateItem()" *ngIf="isAddNewItem">
        <div class="form-group">
            <label for="name">Name</label>
            <span *ngIf="!newItemAdminForm.get('name').valid && newItemAdminForm.get('name').touched">Please enter valid value</span>
            <input type="text" class="form-control" formControlName="name" id="name" maxlength="15">
        </div>

        <div class="form-group"  formArrayName="typeList">
            <label class="toolt" >Types:
                <span class="tooltiptext">Add available types</span>
            </label>
            <button class="btn" type="button" (click)="onAddItemCtrl('typeList')">Add</button>
            <div 
            class="form-group" 
            *ngFor="let typeControl of typeControls; index as j">
            <span *ngIf="!typeControl.valid && typeControl.touched">Please enter valid value</span>
                <input type="text" class="form-control" [formControlName]="j" >
            </div>
        </div>

        <div class="form-group" formArrayName="sizeList">
            <label class="toolt" >Sizes:
                <span class="tooltiptext">Add available sizes</span>
            </label>
            <button class="btn" type="button" (click)="onAddItemCtrl('sizeList')">Add</button>
            <div 
            class="form-group" 
            *ngFor="let sizeControl of sizeControls; index as k">
                <input class="form-control" [formControlName]="k" >
            </div>
        </div>

        <div class="form-group" formArrayName="colorList">
            <label class="toolt" >Colors:
                <span class="tooltiptext">Add available colors</span>
            </label>
            <button class="btn" type="button" (click)="onAddItemCtrl('colorList')">Add</button>
            <div 
            class="form-group" 
            *ngFor="let colorControl of colorControls; let l = index">
                <input class="form-control" [formControlName]="l" >
            </div>
        </div>
        <button class="btn" type="submit">Submit</button>
        <button class="btn" (click)="onAddNewItemSwitch()">Cancel</button>
    </form>

    <ul>
        <li *ngFor="let item of items, let i = index" >
            <div class="list">
                <h4 class="itemName">{{item.name | uppercase }}</h4>
                <div>
                    <button class="btn" (click)="onShowItemDetails(i)">More</button>
                    <button class="btn" (click)="onEditItem(i)">Edit</button>
                    <button class="btn" (click)="onDeleteItem(i)" >Delete</button>
                </div>
            </div>
            <div  *ngIf="showItemDeatils === i">
                <hr>
                <h5>Types:</h5>
                <div class="p-list">
                    <p class="details " *ngFor="let type of item.typeList"><span class="glyphicon glyphicon-ok"></span>{{type}}</p>
                </div>
                <hr>
                <h5>Sizes:</h5>
                <div class="p-list">
                    <p class="details " *ngFor="let size of item.sizeList"><span class="glyphicon glyphicon-ok"></span>{{size}}</p>
                </div>
                <hr>
                <h5>Colors:</h5>
                <div class="p-list">
                    <p class="details " *ngFor="let color of item.colorList"><span class="glyphicon glyphicon-ok"></span>{{color}}</p>
                </div>
                <hr>
            </div>

            <div class="editItem" *ngIf="i === indexEditItem && itemAdminService.isItemEdit">
                <router-outlet *ngIf="i === indexEditItem" ></router-outlet>
            </div>
        </li>
    </ul>
    
</div>

