<div class="flex-container">
    <form [formGroup]="newItemAdminForm" (ngSubmit)="onCreateItem()">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" formControlName="name" id="name">
        </div>

        <div  formArrayName="typeList">
            <label for="typeList">Add available types:</label>
            <button class="addBtn" type="button" (click)="onAddItemType()">Add</button>
            <div 
            class="form-group" 
            *ngFor="let typeControl of newItemAdminForm.get('typeList').value; let j = index">
                <input class="form-control" [formControlName]="j" id="typeList">
            </div>
        </div>

        <div  formArrayName="sizeList">
            <label for="sizeList">Add available sizes:</label>
            <button class="addBtn" type="button" (click)="onAddItemSize()">Add</button>
            <div 
            class="form-group" 
            *ngFor="let sizeControl of newItemAdminForm.get('sizeList').value; let k = index">
                <input class="form-control" [formControlName]="k" id="sizeList">
            </div>
        </div>

        <div  formArrayName="colorList">
            <label for="colorList">Add available colors:</label>
            <button class="addBtn" type="button" (click)="onAddItemColor()">Add</button>
            <div 
            class="form-group" 
            *ngFor="let colorControl of newItemAdminForm.get('colorList').value; let l = index">
                <input class="form-control" [formControlName]="l" id="colorList">
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>

    <ul>
        <button (click)="onSaveItems()">Save Items</button>
        <li *ngFor="let item of items, let i = index">
            <div>
                <p>Name: {{item.name}}</p>
                <p>Available types: {{item.typeList}}</p>
                <p>Available sizes: {{item.sizeList}}</p>
                <p>Available colors: {{item.colorList}}</p>
            </div>
            <button (click)="onDeleteItem(i)" >Delete</button>
        </li>
            
    </ul>
</div>