/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://lh3.googleusercontent.com/proxy/3vnGA2l2AwAh0wnt01ZPnkJGNfFpYbsDkZlEBOqrZwabuajG5awFoGqjFn9pRIf210_obC8okzyA0yfde8xPwuwRYp_jThpbviwiZ9rw7QwxCpKcV2Up3voTg_hjb9u4TtDH1BbSiliMt23YC6GogcFgRxv3DN5HSYk4tyz_KQ); */
    background-color: #f1fffa;
    }

    /* images
    https://www.wallpapertip.com/wmimgs/21-213102_wallpapers-for-black-space-stars-background-data-solar.jpg
    */
