/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://www.wallpaperflare.com/static/547/958/327/abstract-graphic-design-vector-purple-wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    /* background-color: #f1fffa; */
    background-color: #d5c7bc;
    
    }

    /* images
    https://www.wallpapertip.com/wmimgs/21-213102_wallpapers-for-black-space-stars-background-data-solar.jpg
    */
