<!-- LOGO PLACEHOLDER -->
<div class="logo">
    <p class="logo-big">Logo</p>
    <p class="subtitle">logo</p>
</div>

<!-- MAIN CONTENT -->
<div class="main-content">
    <h1>Handmade Miracles<br>Original things made by hands</h1>
    <a class="btn btn-full" routerLink="/items">Show items</a>
    <a class="btn btn-ghost" routerLink="/account">Login</a>
</div>

<!-- BOTTOM CONTENT -->
<div class="bottom">
    <a routerLink="#" routerLinkActive="router-link-active"><span class="glyphicon glyphicon-envelope"></span></a>
</div>





<!--    ******************** MOJE NOTATKI *******************    -->

<!-- <div class="flex-container pictures">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRChWqg6bexA4PgZXPJSn4fUALoShJg5Z47Ag&usqp=CAU" 
    alt="Image of a scarf">

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPgSNNC7eSs9VUf1CeBPr_6AXhZpNgKsYIUg&usqp=CAU" 
    alt="Image of a napkin">

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT20XdqknAPr2j0LUAf-obl5Ho04_YQCEnIZg&usqp=CAU" 
    alt="Image of a belt">
</div> -->

<!--    ******************** MOJE NOTATKI *******************    -->