@use '../shared/scss' as s;

$animate: all 0.5s ;

// ---------- CONTAINERS ----------
.main-content {
  position: absolute;
}

//  HIDDEN ELEMENTS 
.logo,
.bottom{
  display: none;
}

// ---------- TEXT ----------
h1{
  margin: 0;
  margin-bottom: 1%;
  font-weight: 300;
  font-size: 250%;
  color: s.$textColorLight;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
}

// ---------- BUTTONS ----------

.btn {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 350;
  font-size: 120%;
  text-decoration: none;
  border-radius: 200px;
  transition: $animate ;
  
  &.btn-full {
    background-color: s.$mainColor;
    border: 1px solid s.$mainColor;
    color: s.$textColorDark;
    margin-right: 20px;
  }
  
  &.btn-ghost {
    border: 1px solid s.$mainColor;
    color: s.$mainColor;
  }

  &:hover {
    background-color: s.$mainColorDark;
    border: 1px solid s.$mainColorDark;
    color: s.$textColorLight;
  }
}

// ---------- BIG SCREEN ONLY----------
@media(min-width:901px) {

  .main-content {
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// ---------- MEDIUM SCREEN ----------
@media (max-width: 900px) {

  .main-content {
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  h1 {
    font-size: 200%;
  }

  .btn {
    padding: 8px 25px;
    font-size: 120%;
  }
}

// ---------- SMALL SCREEN ----------
@media (max-width: 600px) {
  
  .main-content {
    width: 90vw;
    margin: 10px;
  }

  .logo {
    display: block;
    text-align: center;
    margin-top: 100px;
    text-decoration: none;
    cursor: pointer;
  
    & .logo-big {
        color: s.$textColorLight;
        font-size: 350%;
        margin: 0px;
        font-weight: 300;
    }

    & .subtitle {
        color:rgb(0, 225, 255);
        font-weight: 300;
        letter-spacing: 3px;
        margin: 0px;
    }
  }

  .btn {
    padding: 8px 25px;
    font-size: 120%;
  }

  h1 {
     display: none;
  }

  .bottom {
    display: block;
    position: fixed;
    bottom: 5px;
    right: 15px;
    font-size: 300%;

    & span {
      margin-left: 15px;
      color: s.$textColorMedium;
    }
  }
}
