div{
  background-color: white;
}

#color1{
  background-color: #454545;
}

#color2{
  background-color: #93B7BE;
  /* 466A72 */
}

#color3{
  background-color: #f1fffa;
  /* ADFFE2 */
}

#color4{
  background-color: #d5c7bc;
}

#color5{

  background-color: #785964;
}

#color6{
  background-color: #454545;
}

/* 93B7BE  f1fffa d5c7bc  785964  454545*/
/*4A2040  9f6ba0  C880B7  EC9DED  F5CCE8*/